html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.gradient {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.page-header {
  margin-top: 5rem;
  font-size: 1.5rem;
  color: white;
}

.feature {
  margin-top: 2rem;
  color: #fff;
}

.feature ul {
  padding-left: 3rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 3rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 6%;
}

.services {
  color: #fff;
}
